*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    --side: 16rem;
}

@media (min-width: 768px){
    .menu{
        --side: 35rem;
    }
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    min-height: 100vh;
    background: linear-gradient(45deg, #8460ed, #ff1252);
    flex-direction: column;
}

.menu{
    position: relative;
    width: var(--side);
    height: var(--side);

    li{
        list-style: none;
        position: absolute;
        left: 0;
        transform-origin: calc(var(--side)/2);
        transition: transform 0.5s ease-in-out;
        transition-delay: calc(0.1s * var(--i));
        transform: rotate(0deg) translateX(calc(var(--side)/2.5));

        a{
            width: calc(var(--side)/5);
            height: calc(var(--side)/5);
            background: #fff;
            border-radius: 50%;
            transform: rotate(calc(360deg / -8 * var(--i)));
            color: #333;
            font-size: calc(var(--side)/12.5);
        }
    }

    .toggle{
        position: absolute;
        width: calc(var(--side)/3.33);
        height: calc(var(--side)/3.33);
        background: #fff;
        z-index: 100;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 4px rgba(0,0,0,0.15);
        font-size: calc(var(--side)/6.25);
        transition: transform .75s ease-in-out;
    }

    &.active {
        li{
            transform: rotate(calc(360deg / 8 * var(--i)));
        }

        .toggle{
            transform: rotate(315deg);
        }
    }
}